In [1]:
import pandas as pd
import numpy as np
import re
data = pd.read_csv('properatti.csv')

In [2]:
title = data['title']
title

0                        2 AMB TIPO CASA SIN EXPENSAS EN PB
1         VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37   ...
2                  2 AMB 3ER PISO CON ASCENSOR APTO CREDITO
3                              PH 3 amb. cfte. reciclado
4         DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...
                                ...
121215           Torre Forum Alcorta- Impecable 3 ambientes
121216    Ruca Inmuebles | Venta | Lomas de San Isidro |...
121217    VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...
121218    2 amb. C/ dep. de servicio al contrafrente| Re...
121219           Departamento apto profesional en el Centro
Name: title, Length: 121220, dtype: object

In [27]:
description = data['description']
description

0         2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...
1         Venta de departamento en décimo piso al frente...
2         2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...
3         PH 3 ambientes con patio. Hay 3 deptos en lote...
4         DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...
                                ...
121215    TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...
121216    Excelente e impecable casa en Venta en Las Lom...
121217    VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...
121218    2 Amb al contrafrente,  luminoso. El departame...
121219    Departamento de 77 m2 apto profesional. Edific...
Name: description, Length: 121220, dtype: object

In [37]:
#buscamos mediante un patron y el uso de expresiones regulares los precios en USD que estan en la columna de title
patron = '^U\$D \d*.\d* '
title_regex = re.compile(patron)
resultado = title.apply(lambda x:  x if x is np.NaN else title_regex.search(x))
resultado

0         None
1         None
2         None
3         None
4         None
          ...
121215    None
121216    None
121217    None
121218    None
121219    None
Name: title, Length: 121220, dtype: object

In [52]:
#buscamos mediante un patron y el uso de expresiones regulares los precios en USD que estan en la columna de description
patron_d = 'U\$S \d*.\d*'
description_regex = re.compile(patron_d)
resultado_d = description.apply(lambda x:  x if x is np.NaN else description_regex.search(x))
resultado_d.describe()

count                                                  4756
unique                                                 4756
top       <re.Match object; span=(618, 629), match='U$S ...
freq                                                      1
Name: description, dtype: object

In [6]:
# las coincidencias con el patron se volcaron a nueva columna Titleclean
mask_notnull = resultado.notnull()
data.loc[mask_notnull, "TitleClean"] = resultado[mask_notnull].apply(lambda x: x.group(0))
dolar= data.loc[mask_notnull, ["TitleClean"]]
dolar

         TitleClean
1665   U$D 260.000
1666   U$D 115.000
1667   U$D 740.000
1668   U$D 740.000
1669   U$D 740.000
...             ...
4276    U$D 72.000
4278   U$D 115.000
4279    U$D 74.000
4280    U$D 85.000
50371  U$D 180.000

[2409 rows x 1 columns]

In [53]:
# las coincidencias con el patron se volcaron a nueva columna Descriptionclean
mask_notnull_d = resultado_d.notnull()
data.loc[mask_notnull_d, "DescriptionClean"] = resultado_d[mask_notnull_d].apply(lambda x: x.group(0))
dolar_d= data.loc[mask_notnull_d, ["DescriptionClean"]]
dolar_d

       DescriptionClean
60          U$S 173.000
71          U$S 105.000
170          U$S 55.900
255          U$S 36.000
270          U$S 95.000
...                 ...
121111      U$S 100.000
121133      U$S 110.000
121139        U$S 2.017
121143      U$S 305.000
121214        U$S 1.338

[4756 rows x 1 columns]

In [54]:
title_clean = data['TitleClean']
title_clean2 = title_clean.apply(str)
type(title_clean2)
title_clean2

0         nan
1         nan
2         nan
3         nan
4         nan
         ...
121215    nan
121216    nan
121217    nan
121218    nan
121219    nan
Name: TitleClean, Length: 121220, dtype: object

In [55]:
description_clean = data['DescriptionClean']
description_clean2 = description_clean.apply(str)
type(description_clean2)
description_clean2

0         nan
1         nan
2         nan
3         nan
4         nan
         ...
121215    nan
121216    nan
121217    nan
121218    nan
121219    nan
Name: DescriptionClean, Length: 121220, dtype: object

In [56]:
# mediante el uso de un nuevo patron quitamos el signo U$D para quedarnos solo con el precio (sin la moneda)
patron_usd = '\d+.\d+'
title_clean2_regex = re.compile(patron_usd)
resultado2 = title_clean2.apply(lambda x:  x if x is np.NaN else title_clean2_regex.search(x))
resultado2

0         None
1         None
2         None
3         None
4         None
          ...
121215    None
121216    None
121217    None
121218    None
121219    None
Name: TitleClean, Length: 121220, dtype: object

In [57]:
# mediante el uso de un nuevo patron quitamos el signo U$S para quedarnos solo con el precio (sin la moneda)
patron_usd_d = '\d+.\d+'
description_clean2_regex = re.compile(patron_usd_d)
resultado2_d = description_clean2.apply(lambda x:  x if x is np.NaN else description_clean2_regex.search(x))
resultado2_d

0         None
1         None
2         None
3         None
4         None
          ...
121215    None
121216    None
121217    None
121218    None
121219    None
Name: DescriptionClean, Length: 121220, dtype: object

In [58]:
# lo volcamos a una nueva columna SinUSD
mask2_notnull = resultado2.notnull()
data.loc[mask2_notnull, "SinUSD"] = resultado2[mask2_notnull].apply(lambda x: x.group(0))
dolar2= data.loc[mask2_notnull, ["SinUSD"]]
dolar2

        SinUSD
1665   260.000
1666   115.000
1667   740.000
1668   740.000
1669   740.000
...        ...
4276    72.000
4278   115.000
4279    74.000
4280    85.000
50371  180.000

[2387 rows x 1 columns]

In [59]:
# lo volcamos a una nueva columna SinUSS
mask2_notnull_d = resultado2_d.notnull()
data.loc[mask2_notnull_d, "SinUSS"] = resultado2_d[mask2_notnull_d].apply(lambda x: x.group(0))
dolar2_d= data.loc[mask2_notnull_d, ["SinUSS"]]
dolar2_d

         SinUSS
60      173.000
71      105.000
170      55.900
255      36.000
270      95.000
...         ...
121111  100.000
121133  110.000
121139    2.017
121143  305.000
121214    1.338

[4284 rows x 1 columns]

In [60]:
#completamos los campos vacios de precios en usd por lo nuevos ,sacados de title, reflejados en SinUSD
data.price_aprox_usd.fillna(data.SinUSD, inplace=True)

In [61]:
#completamos los campos vacios de precios en usd por lo nuevos ,sacados de description, reflejados en SinUSS
data.price_aprox_usd.fillna(data.SinUSS, inplace=True)

In [62]:
#creamos un sub data solo con los valores de Capital Federal
caba = data.state_name == "Capital Federal"
data_caba = data [caba]
data_caba

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,rooms,expenses,properati_url,description,title,image_thumbnail,TitleClean,DescriptionClean,SinUSD,SinUSS
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...,NaN,NaN,NaN,NaN
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...,NaN,NaN,NaN,NaN
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...,NaN,NaN,NaN,NaN
7,7,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,...,NaN,NaN,http://www.properati.com.ar/15bot_venta_depart...,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...,https://thumbs4.properati.com/1/IHxARynlr8sPEW...,NaN,NaN,NaN,NaN
8,8,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,...,NaN,NaN,http://www.properati.com.ar/15bou_venta_depart...,EXCELENTE DOS AMBIENTES ESTRENAR AMPLIO SUPER...,"JOSE HERNANDEZ 1400 DOS AMBIENTES ESTRENAR ,...",https://thumbs4.properati.com/2/J3zOjgaFHrkvnv...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121160,121160,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.563685346,-58.4426825896",-34.563685,...,NaN,6300.0,http://www.properati.com.ar/1cj5v_venta_depart...,Edificio en esquina de muy buena categoría de ...,Av .Luis Maria Campos 1400- Belgrano-Capital F...,https://thumbs4.properati.com/0/zeLNBuyylOJL7z...,NaN,NaN,NaN,NaN
121209,121209,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.563685346,-58.4426825896",-34.563685,...,NaN,6300.0,http://www.properati.com.ar/1cj7c_venta_depart...,Edificio en esquina de muy buena categoría de ...,Av .Luis Maria Campos 1400- Belgrano-Capital F...,https://thumbs4.properati.com/0/zeLNBuyylOJL7z...,NaN,NaN,NaN,NaN
121215,121215,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,NaN,NaN,...,NaN,10000.0,http://www.properati.com.ar/1cja2_venta_depart...,TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...,Torre Forum Alcorta- Impecable 3 ambientes,https://thumbs4.properati.com/1/bjms0KnaAnlNoQ...,NaN,NaN,NaN,NaN
121217,121217,sell,apartment,Villa Urquiza,|Argentina|Capital Federal|Villa Urquiza|,Argentina,Capital Federal,3433775.0,"-34.5706388726,-58.4755963355",-34.570639,...,NaN,NaN,http://www.properati.com.ar/1cja7_venta_depart...,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...,https://thumbs4.properati.com/9/YAe_-2gRVykADP...,NaN,NaN,NaN,NaN
121219,121219,sell,apartment,Capital Federal,|Argentina|Capital Federal|,Argentina,Capital Federal,3433955.0,NaN,NaN,...,NaN,3500.0,http://www.properati.com.ar/1cjaa_venta_depart...,Departamento de 77 m2 apto profesional. Edific...,Departamento apto profesional en el Centro,https://thumbs4.properati.com/8/mNEsnQWqB7joBF...,NaN,NaN,NaN,NaN

In [63]:
data_caba.loc[:,"price_aprox_usd"]

0          62000
2          72000
3          95000
7         138000
8         195000
           ...
121160    410000
121209    410000
121215    870000
121217    131500
121219    129000
Name: price_aprox_usd, Length: 32316, dtype: object

In [64]:
# aun quedarian 3122 propiedades sin precio
data_caba.price_aprox_usd.isnull().sum()

3029

In [81]:
a=data_caba.iloc[440]
a

Unnamed: 0                                                                 1855
operation                                                                  sell
property_type                                                         apartment
place_name                                                                 Once
place_with_parent_names                        |Argentina|Capital Federal|Once|
country_name                                                          Argentina
state_name                                                      Capital Federal
geonames_id                                                         3.43029e+06
lat-lon                                               -34.60329056,-58.39693451
lat                                                                    -34.6033
lon                                                                    -58.3969
price                                                                       NaN
currency                                                                    NaN
price_aprox_local_currency                                                  NaN
price_aprox_usd                                                          94.000
surface_total_in_m2                                                          71
surface_covered_in_m2                                                        57
price_usd_per_m2                                                            NaN
price_per_m2                                                                NaN
floor                                                                       NaN
rooms                                                                         2
expenses                                                                    NaN
properati_url                 http://www.properati.com.ar/15ji5_venta_depart...
description                   Departamento 71m² 2 ambientes con Gas en Junin...
title                         U$D 94.000 - Departamento en Venta - Junin    ...
image_thumbnail               https://thumbs4.properati.com/3/N-L4C-bz52Ybad...
TitleClean                                                          U$D 94.000
DescriptionClean                                                     U$S 94.000
SinUSD                                                                   94.000
SinUSS                                                                   94.000
Name: 1855, dtype: object